
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: #f2f5ff;
}

/* Nav header */
header{
    background-color: orange;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* mobile nav menu  */
._nav_menu {
    display: none;
    position:absolute;
    background-color: rgba(0,0,0,0.761);
    color:#fff;
    flex-direction: column;
    height: 780px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding-top: 5em;
    gap: 24px;
    font-size: 30px;
}

/* close nav menu  */
.close_menu {
        font-weight: bold;
        position: absolute;
        top: 24px;
        right: 24px;
}

.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: dodgerblue;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

/* hero section */
.hero{
    width: 100%;
    padding: 160px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5)0%, rgb(0,0,0,0.5)100%), url(/img/solar.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.hero-content h2{
    font-size: 24px;
    margin-bottom: 20px;
    padding: 6px 0;
    
}
.hero-content h3{
    padding: 4px 35px 0 0;
    font-size: 17px;
}

/* About */
.about-content{
    margin-left: 20px;
    margin-top:50px;
    margin-bottom:0px;
}
/* video */
#background-video {
    width: 90vw;
    height: 50vh;
    margin-left: 20px ;
    margin-bottom: -10%;
    
  }

/* products */
.products{
    width: 100%;
    padding: 50px 20px;
    margin-bottom: 15%;
}
.products-card{
    width: 90px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    margin-top: 40px;
}
.products-image{
    height: 400px;
    width: 90px;
    width: 100%;
    border-radius: 10px;
}
.ca{
    margin-bottom: 15px;
}
.products-image img{
    width: 100%;
    border-radius: 12px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.261);
}
.products .products-image img{
    height: 350px;
}
.products-content{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.products h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.products-content h3{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 10px;
    
}


.ct-btn{
    background-image: linear-gradient(to right, #f46b45, #eea849 51%, #ba8b02);
   border: 1px solid white;
   height: 40px;
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
}
.ct-btn a{
    font-size: 20px;
    font-weight: bold;
}

/* service */
.service{
    padding: 50px 40px;
    background: #ccc;
}

.container{
    width: 100%;
    display: block;
    margin-left: 30px;
}

.service h2{
    font-size: 25px;
     font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: -3%;
    text-align: center;
}

.service-container{
    width: 100%;
    margin-bottom: 30px;
    height: 170px;
    margin-top: 20px;
}
.service-container .box{
    font-size: 30px;
    color: #f46b45;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 5px;
}
.service-container h3{
    text-align: center;
    color: blue;
    margin-bottom: 10px;
}

.service-content{
    margin-left: 25px;
}

.h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 20px;
}


/* Footer */
footer{
    width: 100%;
    padding: 5px 0;
    background-color: #ccc;
    text-align: center;
    
}

footer {
    color: #fff;
    background-color: #171616;
}

.foot .socials{
    display: inline-block;
}
footer p{
    font-size: 13px;
}
footer p a{
    text-decoration: underline;
}

.foot .socials{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.follow-us{
    font-size: 16px;
    margin-bottom: 15px;
}

.foot .socials a{
    margin: 2px;
}
/* Media query styles for desktop screen */
@media(max-width:768px) {
    /* Header styles */
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        color: #262626;
        width: 100%;
        text-align: center;
        transform: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu:active{
        left: 0;
    }
}

@media screen and (min-width: 768px){
    /* Body */
    body{
        font-size: 15px;
    }
    h2{
        font-size: 30px;
    }
    /* hero */
    .hero{
        padding: 200px 100px;
        height: 500px;
        margin-top: -11px;
    }

    /* nav_menu  */
    ._nav_menu {
        display: none;
    }
    

    .hero-content h2{
        font-size: 45px;
        margin-bottom: 20px;
       
        
    }
    .hero-content h3{
        padding: 4px 35px 0 0;
        font-size: 17px;
    }
    .hero h3{
        font-size: 28px;
    }

    /* video */
    #background-video{
        margin-bottom: 50px;
        margin-top: 30px;
        width: 90%;
    }
    /* Productts */
.products{
    
    padding: 80px 100px;
     margin-bottom: 10px
}
.products-card{
    padding: 15px;
    display: flex;
     margin-bottom: 120px;
}
.products-image{
    width: 50%;
    margin-right: 30px;
}
.ca{
    margin-bottom: 30px;
}
.products-content{
    width: 50%;
    margin-top: 0;
}
.products-content p{
    margin-top: 8px;
}
.ct-btn{
    
    margin-top: -30%;
}

/* service */
.service{
    padding: 50px 40px;
    background: #ccc;
    display: flex;
}

.container{
    width: 100%;
    
}

.service h2{
    font-size: 25px;
     font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: -3%;
    width: 200px;
}

.service-container{
    width: 40%;
    margin: 9px;
    height: 170px;
}
.service-container .box{
    font-size: 30px;
    color: #f46b45;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service-container h3{
    text-align: center;
    color: blue;
    margin-bottom: 10px;
}

.h2{
    margin-left: 90px;
}


/* contact */
.contact{
    margin: 30px;
    padding: 80px 100px;
     
}  

.contact-details{
    width: 40%;
}
.contact form{
    width: 100%;
    
}
.form-controls{
    margin-bottom: 10px;
}


.contact-button{
    padding: 8px 30px;
}

.footer{
    display: flex;
}
.foot .socials a{
    margin: 7px;
}

} 








