*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff2f2;
}

/* Nav header */
header{
    background-color: orange;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* mobile nav menu  */
._nav_menu {
    display: none;
    position:absolute;
    background-color: rgba(0,0,0,0.761);
    color:#fff;
    flex-direction: column;
    height: 780px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding-top: 5em;
    gap: 24px;
    font-size: 30px;
}

/* close nav menu  */
.close_menu {
        font-weight: bold;
        position: absolute;
        top: 24px;
        right: 24px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

hr{
    margin-bottom: 50px ;
}

/* products */
.products{
    width: 100%;
    padding: 50px 20px;
    margin-top: 50px;
    height: 700px;
}

.products-card{
    width: 90px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    margin-top: 40px;
}

.products-content{
    margin-left: 20px;
    margin-top: 20px;
}

.products-image{
    height: 400px;
    width: 90px;
    width: 100%;
    border-radius: 10px;
}

.ca{
    margin-bottom: 15px;
}

.products-image img{
    width: 100%;
    border-radius: 12px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.261);
}

.products .products-image img{
    height: 400px;
}

.products-content{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 500px;
}

.products-content .power{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 200px;
}

.products-content .v{
    margin: 10px;
}

.products-content .c{
    margin-left: 10px;
}

.products-content .volt{
    margin-left: 10px;
}

.battery{
    margin-bottom: -2%;
    margin-top: 10px;
}

.products h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 5px solid orangered;
   
   
}
.products h3{
    font-size: 20px;
    font-weight: 600;
   padding-top: 20px;
    margin-bottom: 10px;
    border-top-right-radius: 13%;
}

h2{
    margin-top: 60px;
}

.lgt-btn a{
    font-size: 18px;
    color: #fff;
   
}


.lgt-btn{
    background: rgb(4, 0, 13);
    margin-top: 30px;
    width: 40%;
    border-radius: 15%;
    height: 50px;
    margin-bottom: 20px;
}


/* Media query styles for desktop screen */
@media(max-width:768px) {
    /* Header styles */
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        color: #262626;
        width: 100%;
        text-align: center;
        transform: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu:active{
        left: 0;
    }
}

@media screen and (min-width: 768px){
    
    /* Productts */
    .products{
    
        padding: 80px 100px;
         margin-bottom: -35%;
    }

    .products-card{
        padding: 15px;
        display: flex;
         margin-bottom: 120px;
         height: 450px;
    }

    .inverter{
        height: 670px;
    }

    .products-image{
        width: 40%;
        margin-right: 30px;
        height: 300px;
    }
   
    .ca{
        margin-bottom: 30px;
    }

    .products-content{
        width: 50%;
        margin-top: 0;
    }

    .products-content .inverter-wrapper{
        display: flex;
        margin: 13px;
    }

    .products-content p{
        margin-top: 8px;
    }

    .products-content h3{
        margin-top: 15px;
    }
    
    .products-card im{
        width: 400px;
    }

    .lgt-btn a{
        font-size: 18px;
        color: #fff;
       
    }
    
    
    .lgt-btn{
        background: rgb(4, 0, 13);
        margin-top: 30px;
        width: 20%;
        border-radius: 15%;
        height: 30px;
    }
    
    
} 








