*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background-color: #f2faff;
}

/* Nav header */
header{
    background-color: orange;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* mobile nav menu  */
._nav_menu {
    display: flex;
    position:absolute;
    background-color: rgba(0,0,0,0.761);
    color:#fff;
    flex-direction: column;
    height: 780px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding-top: 5em;
    gap: 24px;
    font-size: 30px;
}

/* close nav menu  */
.close_menu {
        font-weight: bold;
        position: absolute;
        top: 24px;
        right: 24px;
}

.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: dodgerblue;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}


/* products */
.products{
    width: 100%;
    padding: 50px 20px;
    margin-top: 50px;
    
}
.products-card{
    background-color: rgba(64, 70, 89, 0.56);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 100px;
}
.products-image{
    height: 250px;
    width: 90px;
    width: 100%;
    border-radius: 10px;
}
.ca{
    margin-bottom: 15px;
}
.products-image img{
    width: 100%;
    border-radius: 12px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.261);
}
.products .products-image img{
    height: 250px;
}
.products-content{
    margin-top: 20px;
    margin-bottom: 20px;
    ;
}
.products h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.products h3{
    font-size: 20px;
    font-weight: 600;
}

.btn{
    width: 200px;
    height: 40px;
    background-color: rgb(4, 6, 36);
    margin-top: 50px;
    border: none;
    margin-left: 1x;
}
.btn a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

/* Media query styles for desktop screen */
@media(max-width:768px) {
    /* Header styles */
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        color: #262626;
        width: 100%;
        text-align: center;
        transform: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu:active{
        left: 0;
    }
}

@media screen and (min-width: 768px){
    
    /* Productts */
.products{
    
    padding: 80px 100px;
     margin-bottom: -35%;
}
.products-card{
    padding: 15px;
    display: flex;
     margin-bottom: 120px;
}
.products-image{
    width: 50%;
    margin-right: 30px;
}
.ca{
    margin-bottom: 30px;
}
.products-content{
    width: 50%;
    margin-top: 0;
}
.products-content p{
    margin-top: 8px;
}
.btn{
    margin-top: 113px;
}
} 








